#FUCK

[*.cs]
file_header_template = {fileName}\n\nThis file is part of ServicePool\n\nAuthor(s):\n     John Doe <admin@mail.com>\n\nCopyright (C) 2021 John Doe\n\nServicePool is free software: you can redistribute it and/or modify it under the\nterms of the GNU General Public License as published by the Free Software\nFoundation, either version 3 of the License, or (at your option) any later\nversion.\n\nServicePool is distributed in the hope that it will be useful, but WITHOUT ANY\nWARRANTY, without even the implied warranty of MERCHANTABILITY or FITNESS FOR A\nPARTICULAR PURPOSE.  See the GNU General Public License for more details.\n\nYou should have received a copy of the GNU General Public License along with\nthis program. If not, see <http://www.gnu.org/licenses/>.